body {
    background-color:#546D64;
}


h1 {
    color:#4FB286;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.exercise-box {
  position: relative;
  width: 300px;
  height: 200px;
}

.exercise {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 100px;
}